
@{
    ViewBag.Title = "";
}
<h2></h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

<div class="container">
<div class="col-xs-6">
  <select class="form-control" name="select1" id="select1">
    <option value=""></option>
  </select>
</div>
<div class="col-xs-6">
  <select class="form-control" name="select2" id="select2">
    <option value=""></option>
</select>
</div>
<hr>

<hr>
<div class="col-xs-6">
	<div class="climatological_area" id="climatological_area_container">

            <div id="city_openstreetmap_canvas" class="olMap"></div>
            <div class="climateTable_container">
                <div class="col-12" id="climateTable"></div>
            </div>
    </div>

</div>

<div class="col-xs-6">
	<div class="climatological_area" id="climateTable_container">
                    <div class="col-12" id="climateContainer"></div>                   
                </div>
</div>
</div>
</body>
</html>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script><!-- /Scripts/jquery.js -->

<script src="http://worldweather.wmo.int/scripts/moment-with-langs.min.js"></script>
<script src="\Scripts\common.js"></script>
<script src="\scripts\Biblioteca\Charts\HighCharts.js"></script>
<script src="\Scripts\OlasView.js"></script>




      
</script>
