
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
img
{
  margin-bottom:-5px;
  width: calc(100%, 1);
  height: 60px;
  float: right;
}
<section id="library-wrapper">
    <img src="~/img/biblioteca.jpg" class="imgcomplete" />

    <section>
        <div id="" class="widthnormal paddingfoot textclass col-xs-8 col-xs-offset-2">
            <ol class="breadcrumb">
                <li><a href="../Home/Index">Inicio</a></li>
                <li class="active">Biblioteca</li>
            </ol>
        </div>
    </section>

    <section>
        <div id="" class="widthnormal paddingfoot textclass col-xs-8 col-xs-offset-2">
            <h2 class="titular" id="lblCategory">Biblioteca</h2>
            <h4 class="subtitulo" id="lblSection">Búsqueda de archivos</h4>
        </div>
    </section>

    <section class="backgris paddingmedium">
        <div class="form-group">
        </div>
    </section>

<div class="container">


  <div  class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview"><a href="../Biblioteca/ClimaticCharts">
          
        <h2  class="post-title">Registro Clim&aacute;tico (Centro Am&eacute;rica)</h2> 
        <div class="icon row"> 
            <img class="img-thumbnail col-sm-6 col-md-4" src="~/img/charts.png">
            <h5 class="post-subtitle">Observa el registro hist&oacute;rico de 1960-1990</h5>
        </div>
        </a>
        <p class="post-meta">Fuente <a href="">IMN,...</a></p>
      </div>

      <div class="post-preview">
          <a href="../Biblioteca/Videos">

              <h2 class="post-title">Videos</h2>
              <div class="icon row">
                  <img class="img-thumbnail col-sm-6 col-md-4" src="~/img/video.jpg">
                  <h5 class="post-subtitle col-sm-6 col-md-4">Registros de videos datos meteorológicos</h5>
              </div>
          </a>
          <p class="post-meta">Fuente <a href="">IMN,...</a></p>
      </div>
			
      <hr>
    </div>

</div>
</section>

<script src="/Scripts/ClimaticPublication/FilesPub.js" ></script>