


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>

 
<section>
        <div id="" class="widthnormal paddingfoot textclass col-xs-8 col-xs-offset-2">
            <ol class="breadcrumb">
                <li><a href="../Home/Index">Inicio</a></li>
                <li class="active">Biblioteca</li>
            </ol>
        </div>
    </section>

   
    <section>
        <div id="" class="widthnormal paddingfoot textclass col-xs-8 col-xs-offset-2">
            <h2 class="titular" id="lblCategory">Biblioteca</h2>
            <h4 class="subtitulo" id="lblSection">Consulte los siguientes servicios:</h4>
        </div>
    </section>


    <section class="backgris">
        <div class="form-group">
        </div>
    </section>


<div>
</div>
<div class="container">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vid">
      <a href="../Biblioteca/ClimaticCharts">
         <div class="card-container">
            <div class="card-header-wrapper" style="filter: none;">
               <h4>Registro Clim&aacute;tico (Centro Am&eacute;rica)</h4>
            </div>
            <div class="card-image-wrapper"><img class="imagelist img-fluid" width="100%" height="100%" src="~/img/charts.png" style="filter: none;"></div>
         </div>

      
      <div class="slide">
        <p></p>
      </div>
      </a>
     
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vid">
      <a href="../Biblioteca/Videos" >
         <div class="card-container">
            <div class="card-header-wrapper">
               <h4>Videos</h4>
            </div>
            <div class="card-image-wrapper"><img class="imagelist img-fluid" width="100%" height="100%" src="~/img/playvideo.png"></div>
         </div>

            
      <div class="slide">
        <p></p>
      </div>
      </a>
     
   </div>
</div>
</section>

<script src="/Scripts/ClimaticPublication/FilesPub.js" ></script>



