@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .vid {
        cursor: pointer;
    }

    .vid:hover img {
        color: #FFFF00;
        opacity: 0.7;
    }

    /* The magic */
.col {
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* 
    Visibility delay gives the previously hovered element time to slide out before disappearing.
    Remove the `visibility` transition to slide in current element without sliding out previous element
  */
  transition: all 0.275s ease-in-out, visibility 0s 0.275s;
  visibility: hidden;
  will-change: transform;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.row:hover ~ .row .slide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.row:hover .slide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.row:hover .col:hover ~ .col .slide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.row:hover .col:hover .slide {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  transition-delay: 0s;
}


</style>

<section>
    <div id="" class="widthnormal paddingfoot textclass col-xs-8 col-xs-offset-2">
        <ol class="breadcrumb">
            <li><a href="../Home/Index">Inicio</a></li>
            <li><a href="../Biblioteca/Index">Biblioteca</a></li>
            <li class="active">Videos</li>
        </ol>
    </div>
</section>

<section class="audio-video-interviews">
    <div id="" class="widthnormal paddingfoot textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="4">Videos</h2>
        <h4 class="subtitulo" id="lblSection" value="20">Videos</h4>
        <input hidden id="pageNum" name="pageNum" value="1" />
        @if (Session["email"] != null)
         {
        <div class="linkbiblio">
            <a href="/Publisher/CreateVideo" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Agregar Video</a>
        </div>
          }
    </div>
</section>

<div class="form-group">
</div>

<div id="panelIframe" style="display:none;" class="img-circle center-block panel-default paddingssmall textclass col-xs-12 col-sm-6 col-sm-offset-2">
    <br />
    <iframe id="fr" class="img-responsive img-thumbnail img-rounded crop videoestiloB" src="//www.youtube.com/embed/CiBgnLocoRo" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <div class="">
        @if (Session["email"] != null)
         {
            <a href="/Publisher/UpdateVideo" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Actualizar Video</a>
         }
    </div>
</div>

<hr />

<div id="panel" class="center-block panel-default paddingssmall textclass col-xs-12 col-sm-8 col-sm-offset-2 climatic-publication-content">

</div>

<div class="center-block col-lg-7 weather-image-column">
    <nav aria-label=...>
        <ul class="pagination pagination-lg">
            <li id="previous-page"><a class="page-link" href="javascript:void(0)" aria-label=Previous><span aria-hidden=true>Anterior</span></a></li>
        </ul>
    </nav>
</div>


<script src="~/Scripts/ClimaticPublication/InterviewsVideo.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-116689455-1');

</script>
