
@{
    ViewBag.Title = "Atlantico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="climatic-publication-images">
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="1">Atl&aacute;ntico</h2>
        <h4 class="subtitulo dnd" id="lblSection" value="25"></h4>
        <p>Condiciones del tiempo, análisis de superficie y pronóstico de fenómenos hidrometeorológicos (como los ciclones tropicales y frentes fríos) en el Océano Atlántico, Mar Caribe y Golfo de México.</p>
    </div>
</section>


<div id="panel" class="center-block container climatic-publication-content">

</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>
