
@{
    ViewBag.Title = "Pacifico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("/Content/external/lightbox2/lightbox.css")  

<section class="climatic-publication-images">
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="1">Pac&iacute;fico</h2>
        <h4 class="subtitulo dnd" id="lblSection" value="26">Pac&iacute;fico</h4>
        <p>Condiciones del tiempo y pronóstico de fenómenos hidrometeorológicos (como los ciclones tropicales y frentes fríos) en el Océano Pacífico Oriental.</p>
    </div>
</section>


<div id="panel" class="center-block container climatic-publication-content">

</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>
<script src="/Scripts/external/lightbox2/lightbox.js"></script>
