
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-image: url(http://sealevel.jpl.nasa.gov/images/jason3-20160114-full.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    }



 
</style>

                <div class="panel panel-primary panel-transparent">


    <div class="panel-heading">
        <h3 class="panel-title">¿Por qué la plataforma?</h3>

        La información sobre perspectivas meteorológicas y climáticas a mediano y largo plazo

        es con frecuencia insuficiente, de poco acceso e interpretación y entendimiento,

        usualmente rezagada tanto a nivel nacional, como a nivel centroamericano.
    </div>

    <br />



    <div class="panel-heading">
        <h3 class="panel-title">¿Qué ofrece PIACT?</h3>
        <br />
        1. Recopila y actualiza los datos y la información dispersa de diversos centros

        mundiales de predicción meteorológica y climática.
        <br /><br />
        2. Permitirá a los usuarios utilizar información en varios formatos tecnológicos.
        <br /><br />


        3. Posibilita novedoso enfoque para visibilizar y obtener  información científico-

        técnica interpretada con un lenguaje simple, entendible para todo el público
        <br /><br />
        4. Incorpora y profundiza temas de Variabilidad y el Cambio Climático, Alertas

        Tempranas  y  Prevención, Adaptación, así como Resilencia  con base en los

        últimos estudios y las acciones desarrolladas por las universidades-gobierno-

        empresa-comunidad.
        <br /><br />
        5. Potenciará la toma decisiones  de las instituciones gubernamentales,   las

        empresas privadas, los grandes y pequeños productores, las organizaciones

        comunales y el público en general en el ámbito nacional y centroamericano.
        <br /><br />
        6. Ayudará a la sociedad costarricense y centroamericana con herramientas de

        innovación para difusión del conocimiento que contribuyan al desarrollo

        sostenible y económico, tanto individual como colectivo.
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>




   


