
@{
    ViewBag.Title = "";
}
<section class="climatic-publication-images">
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="2"></h2>
        <h4 class="subtitulo" id="lblSection" value="7"></h4>
    </div>
</section>

<div id="panel" class="center-block container climatic-publication-content">


</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
