
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <img src="~/img/imgclimehur.jpg" class="imgcomplete" />
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titularpd">¿Dé donde obtiene <br><strong>PIACT la información?</strong></h2>
        <p>
            PIACT es plataforma que incorpora información meteorológica y climática, de nacionales e internacionales centros científicos de investigación  y predicción. de amplia trayectoria y reconocimiento mundial tales como: NASA, IRI, NOAA, BOM, ECMWF, METOFFICE; JMA, JAMSTEC; KMA, COLA, TROPICALTIDBITS; TRACKTHETROPICS, CLIMATECENTRAL; IMN; MARN, SMN, INSIVUMEH.
        </p>

    </div>
</section>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
