
@{
    ViewBag.Title = "enosGRAFICOS";
}
<section class="climatic-publication-images">
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="3"></h2>
        <h4 class="subtitulo" id="lblSection" value="8">enosGRAFICOS</h4>
    </div>
</section>

<div id="panel" class="center-block container climatic-publication-content enosgraficos">

</div>
<div class="center-block container climatic-publication-content">
	<iframe width="100%" height="400px" src="https://www.youtube.com/embed/Bil2kzVCC0w" frameborder="0" allowfullscreen></iframe>
</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>