
@{
    ViewBag.Title = "";
}
<section class="climatic-publication-images">
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="3"></h2>
        <h4 class="subtitulo" id="lblSection" value="9"></h4>
    </div>
</section>

<div id="panel" class="center-block container climatic-publication-content">
    
</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>

   <!-- Google Tag Manager 
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7CGTC"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N7CGTC');</script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75698010-1', 'auto');
  ga('send', 'pageview');

</script>-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
