
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="piact-content enviromental-management">
    <img src="~/img/cielo.jpg" class="imgcomplete" />

    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular">Gestión Ambiental</h2>

        <p>
            Gestión Ambiental es el área del Centro Nacional de Alta Tecnología (CeNAT-CONARE) que vincula y articula acciones de carácter ambiental con las universidades de CONARE, las instituciones estatales y el sector empresarial, en temas como:
        </p>
        <ul>
            <li>
                Promoción de la Investigación que estimule el uso de tecnologías más limpias y amigables con el ambiente.
            </li>
            <li>
                Formación en la aplicación de herramientas tecnológicas como base de estudios y desarrollos en pro del medio ambiente.
            </li>
            <li>
                Asesoramiento al sector productivo en la búsqueda de alternativas sostenibles para sus procesos.
            </li>
            <li>
                Política ambiental que fortalezca la gobernabilidad ambiental y normativa en el país.
            </li>
            <li>
                Brinda servicios en asesoramiento y búsqueda de alternativas sostenibles en procesos productivos, recursos naturales, buenas prácticas, actividades académicas y capacitaciones especializadas, investigación y aplicación de nuevas tecnologías amigables con el ambiente.
            </li>
        </ul>
        <h4 class="subtitulo objectives">Objetivos</h4>
        <ul>
            <li>
                Apoyar la coordinación y proyección en las áreas de Gestión Ambiental de las universidades.
            </li>
            <li>
                Desarrollar proyectos ambientales y actividades interdisciplinarias con las demás áreas del CeNAT.

            </li>
            <li>
                Contribuir en la conservación de los recursos naturales, clima y seguridad alimentaria.
                Apoyar el mejoramiento de políticas ambientales en el país.
            </li>
        </ul>
        <p id="area-prias-obs">
            El Área está constituida por el Laboratorio PRIAS(Programa de Investigaciones Aerotransportadas y Sensores Remotos) y los programas: Observatorio Climático y Agromática.
        </p>
    </div>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
