
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="audio-video-interviews">
    <img src="~/img/video.jpg" class="imgcomplete" />
    <div id="" class="widthnormal paddingfoot textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="4">Entrevistas en Video</h2>
        <h4 class="subtitulo" id="lblSection" value="20">Entrevistas</h4>

    </div>
</section>

<div id="panel" class="center-block panel-default paddingssmall textclass col-xs-12 col-sm-8 col-sm-offset-2 climatic-publication-content">

</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
