
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="" class="widthnormal paddingbig textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular">PIACT</h2>
        <h4 class="subtitulo">PLATAFORMA INTERACTIVA DE APLICACIÓN DEL CLIMA TROPICAL</h4>
    </div>
</section>

<section class="backgris paddingmedium">
    <input type=search results=5 name=s class="searchprincipal">
</section>

<section>
    <div class="bibliotecalist widthnormal">
        <div class="cuartospace textclass">
            <h2 class="titular">Titulo</h2>
            <h4 class="subtitulo">Sub-titulo de página web</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis sem sapien. Pellentesque tempor est at eros facilisis, tincidunt laoreet ante ultrices. Proin rutrum ac ligula nec sodales. Donec id ornare purus, ac cursus turpis. Aliquam id metus quis nibh hendrerit venenatis. Vivamus efficitur pretium pretium. Aenean iaculis ipsum sit amet mattis viverra.
            </p>
        </div>
        <div class="smallspace">
            <h4 class="subtitulo">DESCARGAS</h4>
            <ul class="descargabtn">
                <li><a href="#"><img src="/img/icon_word.jpg" /></a></li>
                <li><a href="#"><img src="/img/icon_powerpoint.jpg" /></a></li>
                <li><a href="#"><img src="/img/icon_excell.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="bibliotecalist widthnormal">
        <div class="cuartospace textclass">
            <h2 class="titular">Titulo</h2>
            <h4 class="subtitulo">Sub-titulo de página web</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis sem sapien. Pellentesque tempor est at eros facilisis, tincidunt laoreet ante ultrices. Proin rutrum ac ligula nec sodales. Donec id ornare purus, ac cursus turpis. Aliquam id metus quis nibh hendrerit venenatis. Vivamus efficitur pretium pretium. Aenean iaculis ipsum sit amet mattis viverra.
            </p>
        </div>
        <div class="smallspace">
            <h4 class="subtitulo">DESCARGAS</h4>
            <ul class="descargabtn">
                <li><a href="#"><img src="/img/icon_word.jpg" /></a></li>
                <li><a href="#"><img src="/img/icon_powerpoint.jpg" /></a></li>
                <li><a href="#"><img src="/img/icon_excell.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="bibliotecalist widthnormal">
        <div class="cuartospace textclass">
            <h2 class="titular">Titulo</h2>
            <h4 class="subtitulo">Sub-titulo de página web</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis sem sapien. Pellentesque tempor est at eros facilisis, tincidunt laoreet ante ultrices. Proin rutrum ac ligula nec sodales. Donec id ornare purus, ac cursus turpis. Aliquam id metus quis nibh hendrerit venenatis. Vivamus efficitur pretium pretium. Aenean iaculis ipsum sit amet mattis viverra.
            </p>
        </div>
        <div class="smallspace">
            <h4 class="subtitulo">DESCARGAS</h4>
            <ul class="descargabtn">
                <li><a href="#"><img src="/img/icon_word.jpg" /></a></li>
                <li><a href="#"><img src="/img/icon_powerpoint.jpg" /></a></li>
                <li><a href="#"><img src="/img/icon_excell.jpg" /></a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
