
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="piact-content">
    <img src="~/img/imgclimelluvia.jpg" class="imgcomplete"/>
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular">¿Qué ofrece PIACT?</h2>
        <ol class="piact-offers ponumeric list">
            <li>Recopila, agrupa y analiza información meteorológica de diversos centros nacionales, regionales y mundiales de predicción e investigación.</li>
            <li>Posibilita un enfoque novedoso para visualizar y obtener información científica y técnica interpretada con un lenguaje sencillo y comprensible para todo público.</li>
            <li>Incluye y profundiza en temas de variabilidad y cambio climático, alertas tempranas y prevención.</li>
            <li>Brinda información sustentada en investigación científica actual para guiar acciones sobre la adaptación al cambio climático desde los diferentes actores como universidades, gobiernos, empresas y comunidades.</li>
            <li>Contribuye a la formulación y  toma de decisiones sobre productividad en instituciones gubernamentales, empresas privadas, grandes y pequeños productores, organizaciones comunales y público en general en el ámbito nacional y centroamericano.</li>
            <li>Provee a la sociedad centroamericana una herramienta de innovación para la difusión del conocimiento.</li>
            <li>Permite a los usuarios acceder a la información desde varios dispositivos tecnológicos como celulares o computadoras.</li>
            <li>Contribuye al desarrollo sostenible, tanto individual como colectivo de los ciudadanos centroamericanos.</li>
        </ol>
    </div>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
