
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="piact-content">
    <img src="~/img/cenat.jpg" class="imgcomplete" />
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular">Centro Nacional de Alta Tecnología (CeNAT)</h2>
        <p>
            El Centro Nacional de Alta Tecnología (CeNAT) es un programa del Consejo Nacional de Rectores (CONARE).

        </p>
        <p>
            El CeNAT es un órgano interuniversitario especializado costarricense, que impulsa mediante alta tecnología espacios para la vinculación entre la academia, el gobierno y los sectores productivos del país en diferentes campos de alta tecnología para la investigación, la innovación y el emprendimiento.  De esta forma, apoya esfuerzos de los centros universitarios públicos, proyectos privados y de gobierno con el fin de desarrollar al máximo las competencias nacionales en las áreas de gestión ambiental; ciencia, ingeniería y materiales; biotecnología y computación avanzada.

        </p>
        <p>
            A través de los años, el CeNAT ha desarrollado una amplia experiencia en investigación, basado en el trabajo de sus laboratorios: el Laboratorio PRIAS, Laboratorio Nacional de Nanotecnología (LANOTEC); Colaboratorio Nacional de Computación Avanzada (CNCA) y Laboratorio CENIBiot; aunado a la labor de los Programas: Observatorio Climático y Agromática del Área de Gestión Ambiental.

        </p>
        <p>
            Gracias al trabajo realizado el CeNAT mantiene relaciones con universidades y centros de investigación internacionales, lo que permite el intercambio de conocimiento y abrir espacios para fortalecer la formación de la comunidad científica nacional.

        </p>
        <p>
            Su creación reafirma el compromiso del Consejo Nacional de Rectores y las instituciones de educación superior estatales con el fortalecimiento de las grandes aspiraciones en el campo de la investigación científica y tecnológica del país.

        </p>
        <h4 class="subtitulo gen-objective">
            Objetivo General
        </h4>
        <p>
            Ejecutar actividades de investigación que permitan proveer al país de la tecnología necesaria, pertinente y estratégica para un desarrollo competitivo de los diferentes sectores de la sociedad, en el ámbito económico, social y ambiental, mediante la innovación, desarrollo, capacitación y servicios en ciencia y tecnología.
        </p>
    </div>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116689455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116689455-1');
</script>
