
@{
    ViewBag.Title = "temperatureTWOweek";
}
<section class="climatic-publication-images">
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="3">Temperatura a mediano plazo</h2>
        <h4 class="subtitulo" id="lblSection" value="14">Pronóstico de tres-cuatro semanas y un mes</h4>
    </div>
</section>

<div id="panel" class="center-block container climatic-publication-content">

</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>