@{
    ViewBag.Title = "windsFirstWeek";
}
<section class="climatic-publication-images">
    <div id="" class="widthnormal paddingsmall textclass col-xs-8 col-xs-offset-2">
        <h2 class="titular" id="lblCategory" value="3">Viento a corto plazo</h2>
        <h4 class="subtitulo" id="lblSection" value="16">Pronostico a dos semanas máximo</h4>
    </div>
</section>

<div id="panel" class="center-block container climatic-publication-content">
</div>

<script src="/Scripts/ClimaticPublication/climaticPubLoad.js"></script>