<!-- Navigation -->
<nav id="menu-wrapper" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll col-xs-12 col-sm-2 col-md-3">
                <div id="logo-container" class="col-xs-6">
                    <a href="/Home/Index">
                        <!-- class="navbar-brand" -->
                        <h1 id="logotipo">PIACT</h1>
                    </a>
                </div>
                <div id="responsive-menu-button-container" class="col-xs-6">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>

            <div id="menu-container" class="col-sm-10 col-md-9">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav multi-level">
                        <li>
                            <a href="/Home/Index">Inicio</a>
                        </li>
                      

                        <li class="dropdown">
                            <a href="/Home/Index" class="dropdown-toggle" data-toggle="dropdown">Tiempo Actual  <b class="caret"></b></a></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Home/ImagenesSatelitales">Imágenes Satelitales</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-submenu-toggle" data-toggle="dropdown">Disturbios Tropicales <b class="caret-menu-right"></b></a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="/Home/Atlantico">Océano Atlántico</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Pacifico">Océano Pacífico</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-submenu-toggle" data-toggle="dropdown">Estaciones automáticas <b class="caret-menu-right"></b>
                                    </a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="http://www.snet.gob.sv/Geologia/pcbase2/parametros-mapa.php">El Salvador</a>
                                        </li>
                                        <li>
                                            <a href="http://www.insivumeh.gob.gt:8080/redhidromet/">Guatemala</a>
                                        </li>
                                    </ul>
                                </li>
								      <li>
                                    <a href="#" class="dropdown-submenu-toggle" data-toggle="dropdown">Radares <b class="caret-menu-right"></b>
                                    </a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="http://www.marn.gob.sv/radar-meteorologico/">El Salvador</a>
                                        </li>
                                        <li>
                                            <a href="http://www.insivumeh.gob.gt/radar-meteorologico/">Guatemala</a>
                                        </li>
										  <li>
                                            <a href="https://www.imn.ac.cr/radar">Costa Rica</a>
                                          </li>
											<li>
                                            <a href="http://www.copeco.gob.hn/Radar-SRI">Honduras</a>
                                          </li>
										  <li>
	                                            <a href="http://190.185.117.144:8080/rainweb/site#map=7/11.975/-85.924">Nicaragua</a>
                                          </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                      

                        <li id="menu-forecast" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Pronóstico <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="dropdown-submenu-toggle" data-toggle="dropdown">Lluvias <b class="caret-menu-right"></b></a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="/Home/CortoPlazo">Corto Plazo</a>

                                        </li>
                                        <li>
                                            <a href="/Home/MedianoPlazo">Mediano Plazo</a>

                                        </li>
                                        <li>
                                            <a href="/Home/LargoPlazo">Largo Plazo</a>

                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-submenu-toggle" data-toggle="dropdown">Viento <b class="caret-menu-right"></b></a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="/Home/windsFirstWeek">Corto Plazo</a>

                                        </li>
                                        <li>
                                            <a href="/Home/windsSecondWeek">Mediano Plazo</a>

                                        </li>
                                        <li>
                                            <a href="/Home/windsMonth">Largo Plazo</a>

                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-submenu-toggle" data-toggle="dropdown">Temperatura <b class="caret-menu-right"></b></a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="/Home/temperatureONEweek">Corto Plazo</a>
                                        </li>
                                        <li>
                                            <a href="/Home/temperatureONEMONTH">Mediano Plazo</a>
                                        </li>
                                        <li>
                                            <a href="/Home/temperatureSIXMONTHS">Largo Plazo</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="/Home/Index" class="dropdown-toggle" data-toggle="dropdown">ENOS <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Home/enosPLUMAS"><i class="fa fa-list fa-fw"></i>Pronóstico</a>
                                </li>
                                 <li>
                                    <a href="/Home/AnomaliasSST"><i class="fa fa-desktop fa-fw"></i>Temperatura Oc&eacute;ano</a>
                                </li>
                                  <li>
                                    <a href="/Home/enosGRAFICOS"><i class="fa fa-list fa-fw"></i>¿Qué es?</a>
                                </li>
                            </ul>
                        </li>
						<li class="dropdown">
                            <a href="/Biblioteca/Index" class="dropdown-toggle" data-toggle="dropdown">BIBLIOTECA <b class="caret"></b></a>
                      
                        </li>

                          <li class="dropdown">
                            <a href="/Home/AboutProject" class="dropdown-toggle" data-toggle="dropdown">Acerca  <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="dropdown-submenu-toggle">PIACT <b class="caret-menu-right"></b></a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="/Home/QueOfrece">¿Qué ofrece?</a>
                                        </li>
                                        <!--<li>
                                            <a href="/Home/DondeObtieneInfo">De donde obtiene información</a>
                                        </li>-->
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-submenu-toggle">CeNAT <b class="caret-menu-right"></b></a>
                                    <ul class="dropdown-submenu">
                                        <li>
                                            <a href="/Home/Resena">Reseña</a>
                                        </li>
                                        <li>
                                            <a href="/Home/GestionAmbiental">Gestión Ambiental</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Contact">Contacto</a>
                        </li>
                        @*<li>
                            <a href="/Contact">Contacto</a>
                        </li>*@
                        <li>
                            @if (Session["email"] != null)
                            {
                                <a href="/Login/LogOut">Cerrar sesión</a>
                            }
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>